@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic')
$dark: #222329
$main-blue: #479eff
$light: #c3c3c3
$white: #e6e6e6
$font: 'Roboto Slab', sans-serif
$text-font: 'Roboto', sans-serif
/*card colors*/
$one: rgba(87, 180, 218, 0.9)
$two: rgba(218, 87, 87, 0.9)
$three: rgba(87, 218, 149, 0.9)
$four: rgba(255, 165, 87, 0.9)
$five: rgba(176, 87, 218, 0.9)
$six: rgba(87, 213, 218, 0.9)
$seven: rgba(124, 190, 101, 0.9)
$eight: rgba(115,115,115,0.9)


/**Common**/
*
  outline: none!important
body
  font-size: 1.2em
  margin: 0
  font-family: $font
  width: 600%
  overflow-x: hidden

.wrapper
  height: 100vh
  overflow: hidden
  display: block

.menu
  width: 16.667vw
  height: 100vh
  display: block
  background-color: $dark
  float: left
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 100
  & .menu-footer
    position: fixed
    bottom: 1em
    font-size: 0.75em
    font-weight: 100
    width: 16.667%
    display: block
    text-align: center
    color: $light
    & b
      font-weight: 100
      color: $main-blue
  & .logo
    display: block
    margin-left: 0.75em
    margin-top: 1em
    & .name-wrap
      display: block
      float: left
      & h3
        font-weight: 100
        color: $light
        font-size: 1em
        margin: 0
        padding: 0
        line-height: 0.5em
        & b
          font-weight: 100
          color: $main-blue

      & span
        color: #6b7c93
        font-weight: 100
        font-size: 0.75em
    & .logo-wrap
      max-width: 1.5em
      max-height: 1.5em
      border-radius: 100%
      overflow: hidden
      margin-right: 0.75em
      display: inline-block
      float: left
      & img
        width: 100%


  & ul
      list-style: none
      padding: 0
      margin-left: 1em
      clear: both
      & li
        display: block
        & a
          color: $light
          text-decoration: none
          font-weight: 100
          line-height: 2
          &.current
            pointer-events: none
          &:hover, &.current
            color: $main-blue
            transition: 0.2s
          & i
            margin-right: 1em
            width: 1em
            text-align: center

/**Main section**/
.main
  //margin-left: 16.667vw
  //width: 83.333%
  //width: 416.665%
  //height: 100vh
  //display: block
  background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgba(1,1,1,0) 100%)
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgba(1,1,1,0) 100%)
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(235,235,235) 0%, rgba(1,1,1,0) 100%)
  //position: fixed
  //top: 0
  //left: 16.667%
  //white-space: nowrap
  //overflow-x: hidden
  //overflow-y: hidden
  & .screen-layout
    //width: 416.665vw

/**Screen**/
.screen
  height: 100vh
  width: 100vw
  display: block
  float: left
  padding-left: 16.667vw
  box-sizing: border-box
  & .screen-inner
    padding: 1.5em
    & h2
      font-weight: 100
      font-size: 2.5em
      margin-top: 0
      line-height: 1em
      & b
        font-weight: 100
        color: $main-blue

/**Home**/

.welcome-text
  margin-right: 10em
  & h1
    font-weight: 100
    color: $dark
    font-size: 8em
    text-align: right
    margin-top: 0.25em
    line-height: 1
    & b
      color: $main-blue
      font-weight: 100

.home span
  font-size: 3em
  font-weight: 100
  text-align: right
  display: block

  /**About section**/
.parts
  width: 100%
  clear: both
  & .part-left
    width: 40%
    float: left
    display: block
    & img
      max-width: 80%
  & .part-right
    width: 60%
    float: left
    display: block
    overflow-y: auto

    & p
      font-family: $text-font
      font-weight: 300
      margin-top: 0
      font-size: 1em
/**Portfolio**/
.card-parts
  display: block
  overflow-y: hidden
  width: 100%
  max-height: 80vh
  position: relative
  border-top: 1px solid #ebebeb
  & .card
    width: 23%
    position: relative
    margin: 1%
    float: left
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    &:hover
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    &:last-child
      margin-bottom: 10vh
    & .card-overlay
      position: absolute
      left: 0
      bottom: 0
      right: 0
      & .card-name
        display: block
        width: 100%
        height: auto
        cursor: pointer
        & h3
          color: $dark
          font-weight: 400
          margin: 0 0 0 0.5em
          font-size: 1em
        & h4
          color: $white
          margin: 0 0 0 0.5em
          font-weight: 100
          line-height: 0.75em
          padding-bottom: 0.5em
          display: inline
      & .card-description
        font-size: 0.75em
        background-color: rgba(255,255,255,0.9)
        clear: both

        & b
          line-height: 2em
          padding-left: 0.75em
          font-weight: 300
          color: $main-blue

        & p
          margin: 0
          padding-left: 0.75em
          font-family: $text-font
      & .preview
        display: block
        height: 0
        transition: all 0.5s ease
        overflow: hidden
        & a
          display: block
          text-align: center
          text-decoration: none
          font-weight: 100
          color: #e2edff
          padding: 2em 0 0.5em
        & .visit
          text-decoration: underline
          font-weight: bold
          padding: 0

    & .image-wrapper
      width: 100%
      overflow: hidden
      & img
        width: 100%
        transition: all ease 0.5s
.click
  font-size: 1em
  display: block
  float: right
  margin-right: 0.5em
  color: transparent
.card
  &:hover
    & .click
      color: #fff
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)
      text-shadow: 0px 0px 5px rgba(255,255,255,0.75)
.one
  & .card-overlay
    & .card-name, .preview
      background-color: $one
.two
  & .card-overlay
    & .card-name, .preview
      background-color: $two
.three
  & .card-overlay
    & .card-name, .preview
      background-color: $three
.four
  & .card-overlay
    & .card-name, .preview
      background-color: $four
.five
  & .card-overlay
    & .card-name, .preview
      background-color: $five
.six
  & .card-overlay
    & .card-name, .preview
      background-color: $six
.seven
  & .card-overlay
    & .card-name, .preview
      background-color: $seven
.eight
  & .card-overlay
    & .card-name, .preview
      background-color: $eight

#portfolio .hover img
  width: 120%
  margin-left: -10%
  transition: all ease 2s
#portfolio
  & .clicked
    & .preview
      //height: 150px
      transition: all 0.5s ease


/*Custom plugin styles*/

#cboxCaption
    position: absolute
    z-index: 1111111
    bottom: 0
    display: block
    width: 100%
    background-color: rgba(34, 35, 41, 0.9)
    height: 40px

/*Resume*/
.cv
  & .download
    background-color: #57d47d
    border: none
    padding: 0.5em 1.25em
    font-family: $font
    border-right: 0 solid $dark
    font-weight: 100
    position: relative
    &::after
      content: "\f019"
      display: inline-block
      font: normal normal normal 1em/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      color: transparent
      right: -1.75em
      position: absolute
      top: 35%

    & a
      color: #fff
      text-decoration: none
      font-size: 1.15em
    &:hover
      border-width: 2.75em
      transition: all 0.3s ease
      &::after
        transition: all 0.5s ease
        color: $light


  & h3
    margin: 0
    font-weight: 400
  & p
    font-family: $text-font
    font-weight: 300
    font-size: 1em
    line-height: 1.5em
    margin-top: 0
    & i
      color: $main-blue
.skill-item
  display: block
  width: 20%
  margin: 1%
  float: left
  text-align: center

  & .circle
    width: 100%
    border-radius: 100%
    overflow: hidden
    background-position: center
    background-size: cover
    & img
      max-width: 100%

/* skill-items*/
$gradient: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 55%, rgba(255,255,255,1) 100%)
.ui
  background-image: $gradient, url(../img/ui.jpg)
.ps
  background-image: $gradient, url(../img/ps.jpg)
.html
  background-image: $gradient, url(../img/html.jpg)
.css
  background-image: $gradient, url(../img/css.jpg)
.sass
  background-image: $gradient, url(../img/sass.jpg)
.js
  background-image: $gradient, url(../img/js.jpg)
.jquery
  background-image: $gradient, url(../img/jquery.jpg)
.react
  background-image: $gradient, url(../img/react.jpg)
.node
  background-image: $gradient, url(../img/node.jpg)
.wp
  background-image: $gradient, url(../img/wp.jpg)
.git
  background-image: $gradient, url(../img/git.jpg)
.gulp
  background-image: $gradient, url(../img/gulp.jpg)

circle
  fill: rgba(0,0,0,0)
  stroke: #eee
  stroke-width: 15


circle:nth-child(2n)
  fill: rgba(0,0,0,0)
  stroke: $main-blue
  stroke-width: 15


/*contact*/
.contact
  & p
    font-weight: 100
    font-family: $text-font
    & i
      color: #c3c3c3
      margin-right: 1em

/*responsive*/
@media all and(max-width: 768px)
  .welcome-text h1
    font-size: 4em
  .home span
    font-size: 1em
  .menu
    width: auto
  .menu .logo .name-wrap, .menu .menu-footer
    display: none
  .menu ul li a
    font-size: 0em
    & i
      font-size: 20px
      line-height: 2em
  .parts .part-left, .parts .part-right
    width: 100%
  .wrapper
    overflow: auto
  .screen .screen-inner h2
    font-size: 1.5em
  .card-parts .card
    width: 75%
